@media screen and (max-width: 1400px){
    .log-container{
        width: 60%;
    }
}
@media screen and (max-width: 1350px){
    .explanation-card{
        width: 45%;
        padding: 2rem;
    }
    .reg-form-box{
        width: 50%;
    }
    /* Details page */
    #detail-content{
        width: 47%;
    }
}
@media screen and (max-width: 1200px){
    .width-link{
        width: 45%;
    }
    .log-container,
    .reg-container{
        width: 75%;
    }
}
@media screen and (max-width: 1150px){
    /* Universal Styles */
    html{
        font-size: 16px;
    }
    .reg-form-box{
        padding: 2rem;
    }

    /* HelperDetails page */
    #helper-details,
    .accepted-container{
        width: 75%;
    }
}


@media screen and (max-width: 1000px){
    .help-helper-main{
        flex-direction: column;
    }
    .explanation-card{
        width: 75%;
        margin-bottom: 2rem;
        box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
    }
    .reg-form-box{
        width: 75%;
    }
}


@media screen and (max-width: 950px){
    /* Details page */
    #detail-main{
        margin-top: 10rem;
        flex-direction: column;
    }
    .leftCol,
    #detail-content{
        width: 100%;
    }
    #map{
        height: 45vh;
    }
    .request-container,
    .completed-container{
        height: 50vh;
    }
    #detail-main p,
    #helperDetails-main p{
        font-size: 1rem;
    }
    #detail-main p span,
    #helperDetails-main p span{
        font-size: 1rem;
        letter-spacing: 0.25px;
    }
    .request-container,
    .completed-container{
        box-shadow: none;
    }
    .request-container{
        margin-top: 1.5rem;
    }
    .backToTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .backToTop .toTop{
        display: block;
    }
    #detail-content h4{
        font-size: 1.25rem;
    }
    form .accept-btn{
        font-size: 1.1rem;
        padding: 0;
    }
    .delete-btn{
        padding: 8px 20px;
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 850px){
    .explanation-card{
        width: 100%;
    }
    .reg-form-box{
        width: 100%;
    }

    /* Dashboard page */
    #address-th,
    .address-td{
        display: none;
    }

    /* HelperDetails page */
    #helper-details,
    .accepted-container{
        width: 75%;
    }
}


@media screen and (max-width: 800px){
    .width-link{
        width: 65%;
    }
    form label{
        margin-bottom: 5px;
    }
    form .form-btn{
        width: 70%;
        margin-bottom: 1rem;
    }
    .log-container,
    .reg-container{
        width: 100%;
    }

    /* Details page */
    .accept-btn{
        height: 2rem;
    }
}


@media screen and (max-width: 720px){
    /* Universal Styles */
    html{
        font-size: 14px;
    }
    form input{
        height: 2.5rem;
    }
    form #pwd-box{
        height: 2.5rem;
    }
    form input,
    form textarea{
        font-size: 1rem;
    }
    form .single-row{
        flex-direction: column;
    }
    form .single-row .inputs{
        width: 100%;
    }

    .btn-alignment>*{
        margin-bottom: 7px;
    }
    .btn-alignment{
        flex-direction: column;
    }
    .btn-alignment .reg-btn{
        width: 100%;
        height: 2.5rem;
    }

    .explanation-card{
        padding: 1.5rem;
    }
    .reg-form-box{
        padding: 1.5rem;
    }

    /* Login page, Register Page &  Request Page */
    #log-body,
    #reg-body,
    #request-main{
        height: auto;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    /* Dashboard page */
    .mobile-dashNav,
    #dash-btn{
        display: block;
    }
    #Dash-header .nav-links{
        display: none;
    }
    #dash-btn{
        padding: 1rem 1rem;
    }
    #dash-btn:hover{
        cursor: pointer;
    }
    #dash-btn:active{
        transform: scale(0.95);
    }
    #menu-icon{
        display: block;
        position: relative;
    }
    #menu-icon,
    #menu-icon::before,
    #menu-icon::after{
        width: 1.75rem;
        height: 3px;
        background: #243f51;

        transition: transform 300ms ease-in-out, opacity 200ms linear;
    }
    #menu-icon::before,
    #menu-icon::after{
        content: '';
        position: absolute;
        background: #243f51;
        left: 0;
    }
    #menu-icon::before{bottom: 8px;}
    #menu-icon::after{top: 8px;}
    .animate{
        background: #fff !important;
        transform: rotate(45deg);
    }
    .animate::before{
        background: #fff !important;
        opacity: 0;
    }
    .animate::after{
        background: #fff !important;
        transform: rotate(90deg) translate(-9px);
    }

    .mobile-dashNav.show{
        transform: translate(0);
        transition: transform 0.2s ease;
    }
    .mobile-dashNav{
        width: 200px;
        right: 0;
        top: 0;
        height: 40vh;
        position: absolute;
        z-index: 3;
        opacity: 0.9;
        border-bottom-left-radius: 10px;
        transform: translate(200px);
        background-color: #243f51;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
    }
    .mobile-dashNav ul{
        margin-top: 3rem;
    }
    .mobile-dashNav ul li{
        font-size: 1.15rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .mobile-dashNav ul li:last-child{
        margin-bottom: 0;
    }
    .mobile-dashNav ul li a{
        color: #fff;
    }
    #action-th,
    .action-td,
    .desktop-name{
        display: none;
    }
    .mobile-name{
        display: block;
    }

    /* Details page */
    .leftCol{
        padding: 1.5rem;
    }
    #map{
        margin-top: 1rem;
        height: 50vh;
    }
    .accept-btn{
        width: 65%;
    }
    .delete-btn{
        width: 65%;
    }
    .request-container,
    .completed-container{
        padding: 1.5rem;
    }

    /* HelperDetails page */
    #helper-details,
    .accepted-container{
        width: 100%;
        padding: 1.5rem;
    }
    #helper-details .person-image{
        height: 40vh;
        width: 70%;
    }
    .requestee-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .requestee-container .col{
        width: 100%;
    }
    .requestee-container .cancel-btn{
        margin: 1rem auto 0 auto;
        width: 55%;
        height: 2rem;
        font-size: 1rem;
    }
}